body {
    font-family: 'Arial', sans-serif;
    background-color: #121212;
    color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: #1e1e1e;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    overflow: hidden;
    animation: fadeIn 1s ease-in-out;
}
header{
    display: flex;
    align-items: center;
    justify-content:space-between;
    margin-bottom: 20px;
}
header h1 {
    font-size: x-large;
}
header i{
    color: white;
    font-size: x-large;
    padding: 14px;
    background:#282828;
    border-radius: 50%;
}
header i:hover{
    background: #000;
    transition: 1s all;
}
h1, h3, h4, h5 {
    text-align: center;
    margin-bottom: 20px;
    color: #f4f4f4;
}
h5 a{
    text-decoration: none;
    color: rgb(238, 195, 96);
    font-size: larger;
}
h2 {
    margin-top: 30px;
    margin-bottom: 20px;
    text-align: center;
    color: #ff9800;
}

h6 {
    text-align: center;
}

h6 a {
    color: #ff9800;
    text-decoration: none;
    text-align: center;
}

h4 a:hover {
    text-decoration: underline;
}

.calculator {
    margin-bottom: 40px;
    border: 1px solid #e68900;
    padding: 10px;
    border-radius: 8px;
}

.btn-container{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 100%;
}
.calbtn {
    display: flex;   
    border: 1px solid rgba(255, 166, 0, 0.425); 
    border-radius: 8px;
    padding: 5px 5px 0 5px;
    width: fit-content;
    max-width: 200px;
    margin: 20px;
    transition: 0.6s all;
}
.calbtn:hover{
    box-shadow: 3px 3px 8px rgba(128, 128, 128, 0.345);
    transform: translateY(-5px);
}
.calbtn img{
    width: 60px;
}
.btnsecondsection {
    margin: 0;
    padding: 5px;
}
.btn-tagname {
    background: #e68a002c;
    color: #e68900;
    padding: 2px 4px 2px 4px;
    border-radius: 4px;
    font-weight: 600;
    font-size: smaller;
}
.btn-name {
    margin: 0;
    font-size: small;
    margin-top: 15px;
}
a {
    text-decoration: none;
}

.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

label {
    margin-bottom: 5px;
    color: #bbbbbb;
}

input[type="number"] {
    padding: 10px;
    border: 1px solid #444;
    border-radius: 4px;
    margin-bottom: 10px;
    font-size: 16px;
    background-color: #2c2c2c;
    color: #f4f4f4;
    transition: border 0.3s, background-color 0.3s;
}

input[type="number"]:focus {
    border-color: #ff9800;
    background-color: #3c3c3c;
}

button {
    width: 100%;
    padding: 15px;
    background-color: #ff9800;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 18px;
    border-radius: 4px;
    transition: background-color 0.3s, transform 0.2s;
}

button:hover {
    background-color: #e68900;
    transform: translateY(-2px);
}

.result {
    margin-top: 20px;
    font-size: 18px;
    text-align: center;
    color: #f4f4f4;
}

#resultbox {
    display: block; background-color: #00ff00; border-radius: 8px; padding-top: 8px; padding-bottom: 8px; font-weight: bold; font-size: larger; color: black;
}

.note{
    background: rgba(255, 0, 0, 0.114);
    border: 2px solid rgba(255, 0, 0, 0.219);
    margin: 20px;
    max-width: 800px;
    margin: auto;
    margin-top: 30px;
}
.note p{
    font-size: smaller;
    text-align: center;
}
.tagname {
    background: #e68a004e;
    color: #e68900;
    padding: 2px 3px 2px 3px;
    border-radius: 4px;
}
@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

@media (max-width: 600px) {
    body{
        background-color: #1e1e1e;
    }
    .container {
        width: 90%;
        margin: 0px auto;
        padding: 15px;
        box-shadow: none;
    }
    .calbtn {
        padding: 5px 5px 0 5px;
        /* width: fit-content; */
        width: 132px;
        margin: 7px;
    }
    .btn-tagname {
        font-size: xx-small;
    }
    .btn-name {
        text-align: left;
        font-size: x-small;
        margin-top: 10px;
    }
    input[type="number"] {
        font-size: 14px;
    }

    button {
        font-size: 16px;
    }

    h1, h2, h3, h4 {
        font-size: 24px;
    }

    .form-group {
        flex-direction: column;
    }

    label {
        margin-bottom: 5px;
    }
    .note{
        margin-left: 20px;
        margin-right: 20px;
    }
}
